### Eclipse ###
.apt_generated/
.apt_generated_test/
.classpath
.factorypath
.project
.recommenders/
.settings/*
!.settings/org.eclipse.jdt.core.prefs
!.settings/org.eclipse.jdt.ui.prefs
.sts4-cache/
bin/

### Maven ###
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/

### Gradle ###
.gradle
.gradletasknamecache
build/
gradle-app.setting

### Java ###
hs_err_pid*
